<%= stylesheet_link_tag 'welcome' %>
<div class="wrapper container">
	<h1>LavaloTú - Testing </h1>
	<br>
	<%= link_to 'Blog', controller: 'articles' %>
	<%= link_to 'New article', new_article_path %>
</div>
